{% extends 'base.html' %}
{% block title %}
  Избранное
{% endblock  %}

{% block content %}
  <h1>Избранные объявления</h1>
  <div class="cards">
    {% if add_posts %}    
      <ul class="posts">
        {% for post in add_posts %}
          {% with post=post.post %}
          <li class="post">
            <a href="{% url 'advito:post_detail' post.id %}">
              <h3>{{ post.name_descript }}</h3>
              <p>{{ post.date_pub }}</p>
              <p class="img"><img alt="post image" src="{{ post.image.url }}"></p>
              <p class="price">{{ post.price }} pуб.</p>
              <p class="text">{{ post.description | truncatewords:5 }}</p>
            </a>
            <form class="form-delete" method="POST">
              {% csrf_token %}
              <input style="display: none;" type="text" name="post_id" value="{{ post.id }}">
              <button class="button" type="submit" name="button_dell_post">Удалить избранное</button>
            </form>
          </li>
          {% endwith %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock  %}