{% extends 'advito/base_advito.html' %}
{% block content %}
  <div class="cards">
    {% if page_object %}
      <ul class="posts">
        {% for post in page_object.object_list %}
          <li class="post">
            <a href="{% url 'advito:post_detail' post.id %}">
              <h3>{{ post.name_descript }}</h3>
              <p>{{ post.date_pub }}</p>
              <p class="post__img"><img class="img" alt="post image" src="{{ post.image.url }}"></p>
              <p class="post__price">{{ post.price }} pуб.</p>
              <p class="post__text">{{ post.description | truncatewords:5 }}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <h2>Постов еще нет</h2>
    {% endif %}
    </div>
{% endblock  %}
