{% extends 'advito/base_advito.html' %}
{% block title %}
  Создание поста
{% endblock  %}

{% block content %}
  <form class="post-create" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    {% if post_was_created or post_with_errors %}
      <button class="create-post__button" style="display:none" type="submit">Создать пост</button>
    {% else %}
      <button class="create-post__button" type="submit">Создать пост</button>
    {% endif %}
  </form>

  {% if post_with_errors %}
    <p>Исправьте ошибки</p>
  {% endif %}

  {% if post_was_created %}
    <h2>Пост успешно создан!</h2>
    <a href="/advito/post/{{ post_new.id }}">Перейти к созданному посту</a>
  {% endif %}
  
{% endblock  %}

