{% extends 'advito/base_advito.html' %}
{% block title %}
  {{ post.name_descript }}-{{ block.super }}
{% endblock  %}

{% block content %}
  <div class="post-detail-main">
    <div class="post-detail">
      <h1>{{ post.name_descript }}</h1>
      <p>Автор: {{ post.author }}</p>
      <p>{{ post.date_pub }}</p>
      <img class="img" alt="post image" src="{{ post.image.url }}">
    </div>
    <div class="post-detail post-detail__info"> 
      <p class="price">Цена: {{ post.price }} pуб.</p>
      <p class="text">{{ post.description }}</p>
      <p>Телефон: {{ profile.phone }}</p>

      {% if post.author != user %}
        <p><a class="message-button" href="{% url 'advito:post_message' post.id %}">Написать сообщение</a></p>
        <form class="add-favorite__form" method="POST">
          {% csrf_token %}
          <button class="add-vaforite-button" type="submit" name="button_add_post">Добавить в избранное</button>
        </form>
      {% endif %}

      {% if post.author == user %}
        <p><a class="del-post-button" href="{% url 'advito:post_edit' post.id %}">Редактировать пост</a></p>
        <p><a class="del-post-button" href="{% url 'advito:post_delete' post.id %}">Удалить пост</a></p>
      {% endif %}
    </div>
  </div>
  {% if post.author != user %}
    <div class="comments">
      <h2>Комментарии к посту:</h2>
      {% if comments %}
        <ul>
          {% for comment in comments %}
            <li>
              <p>Автор: <a href="#">{{ comment.author }}</a></p>
              <p>{{ comment.date_publish }}</p>
              <p>{{ comment.text }}</p>
              <hr>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p><i>Пока комментариев нет</i></p>
      {% endif %}
      <form class="comment__form" method="POST">
        {% csrf_token %}
        {{ comment_form.text }}
        <button class="button" type="submit" name="button_send_coment">Отправить комментарий</button>
      </form>
    </div>
  {% endif %}
{% endblock  %}