{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        Advito support
      {% endblock  %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header class="container-back">
      <div class="container">
        <nav class="navigation">
          <div class="navbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="logo" href="{% url 'advito:index' %}">
                  <img src="{% static 'img/icon.png' %}" alt="Иконка сайта">
                </a>
                <span class="help__text">ПОМОЩЬ</span>
              </li>
            </ul>
          </div>
          <div class="navbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'advito:index' %}">Главная</a>
              </li>
              {% if not user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'advito:login' %}">Вход</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'advito:signup' %}">Зерегистрироваться</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'advito:post_create' %}">Разместить объявление</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </nav>
        <div class="index-form" data-marker="search-form">
          <div class="form" style="margin-left: 20px; display: flex;">
            <input type="text" placeholder="Поиск" maxlength="100" class="suggest">
            <button class="button-element">
              <span class="button-text">Найти</span>
            </button>
          </div>
          <div class="username">
            <span> Привет:&nbsp</span>
            {% if not user.is_authenticated %}
              <span> Незнакомец(ка)</span>
            {% else %}
            <span>{{ user }};</span>
              <span>&nbsp Редактировать:</span>
              <a class="category__href" href="/advito/{{ user.id }}/profile/">My Profile;</a>
              <a class="profile-exit__href" href="{% url 'advito:logout' %}">Выход</a>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
    <main class="container-back">
      <section class="section container" style="height: 500px;">
        <h1>СЛУЖБА ПОДДЕРЖКИ</h1>
      </section>
    </main>
    <footer class="container-back">
      <div class="footer container">
        <div class="footer-social">
          <h3> Мы в социальных сетях</h3>
          <ul class="footer-social__list">
            <li class="footer-social__item">
              <a class = "footer-social__link" href="https://twitter.com/">
                <svg class="footer__logo-svg" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.3 0.166728C13 -0.333272 14.4 0.366728 15 1.26673C15.7 1.06673 16.4 0.766728 
                  17.1 0.566728C17.1 1.36673 16.6 2.06673 16.2 2.26673C16.9 2.46673 17.5 1.76673 17.5 
                  1.76673C17.3 2.76673 16.5 3.46673 15.9 3.76673C15.7 10.3667 12.6 14.7667 5.5 14.5667C5 
                  14.5667 5.6 14.5667 5 14.5667C4.6 14.5667 0.7 14.1667 0 12.7667C2.3 12.9667 4 12.3667 
                  4.8 11.6667C3.8 11.3667 2 11.1667 1.7 8.76673C2.1 8.86673 2.3 8.96673 3 8.86673C1.8 8.06673 
                  0.4 7.36673 0.5 5.16673C0.8 5.46673 1.6 5.66673 1.9 5.66673C1.2 5.46673 -0.1 2.36673 
                  1 0.866728C2.9 2.66673 4.8 4.36673 8.4 4.56673C8.5 2.26673 9.5 0.766728 11.3 0.166728Z"/>
                </svg>
              </a>
            </li>
            <li class="footer-social__item">
              <a class = "footer-social__link" href="https://www.facebook.com">
                <svg class="footer__logo-svg" width="9" height="19" viewBox="0 0 9 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.3 3.4C7.1 3.4 7.9 3.4 8.7 3.4C8.7 2.3 8.7 1.2 8.7 0C7.7 0 6.8 0 5.8 0C2.7 0.2 1.5 2.4 1.9 6.1H0V9.6H2C2 
                  12.7 2 15.8 2 18.9C3.3 18.9 4.6 18.9 5.8 18.9C5.8 15.8 5.8 12.7 5.8 9.6H8.7V6.1H5.8C5.8 5.1 5.8 3.7 6.3 3.4Z"/>
                </svg>
              </a>
            </li>
            <li class="footer-social__item">
              <a class="footer-social__link" href="https://www.youtube.com">
                <svg class="footer__logo-svg" width="20" height="14" viewBox="0 0 20 14" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.1 0H2.8C1.3 0 0 1.3 0 2.8V11.1C0 12.7 1.3 14 2.8 14H17.1C18.7 
                  14 19.9 12.7 19.9 11.2V2.8C20 1.3 18.7 0 17.1 0ZM7 10.4V3.6L13.8 7L7 10.4Z"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>