{% extends 'base.html' %}
{% block content %}
  <div class="login-main">
    <div class="login">
      {% if form.errors %}
        {% for field, errors in form.errors.items %}
        <p>{{ errors }}</p>
        {% endfor %}
      {% endif %}
      <h2>Войти</h2>
      {% if not user.is_authenticated %}
        <form class="login__form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
            <p>{{ field }}</p>
            {% if field.errors %}
              <ul>{{ field.errors }}</ul>
            {% endif %}
          {% endfor%}
          <button class="log-button__submit" type="submit" style="margin-top: 20px; width: 120px;">Войти</button>
          <p> ИЛИ </p>
          <a class="button" style="max-width: 170px;" href="{% url 'advito:signup' %}">Зарегистрироваться</a>
        </form>
        <a class="passres__href" href="{% url 'advito:password_reset' %}">Забыли пароль?</a>
      {% else %}
        <h3>Привет, {{ user.username }}</h3>
        <a href="{% url 'advito:logout' %}">Выйти</a>
        <a href="{% url 'advito:index' %}">На главную</a>
      {% endif %}
    </div>
  </div>
{% endblock  %}