{% extends 'base.html' %}
{% block content %}
  <div class="profile-comments">
    <h1>Мои комментарии:</h1>
    {% if comments %}
      <ul class="profile-comments">
        {% for comment in comments %}
          <li class="comment">
            <p class="comment__name">Комментарий: <i class="comment__name_text">{{ comment.text }}</i></p>
            <p class="comment__name">Объявление: <i class="comment__name_text">{{ comment.in_post.name_descript }}</i>; Автор: <i>{{ comment.in_post.author }}</i></p>
            <p class="comment__name">Дата отправления: <i class="comment__name_text">{{ comment.date_publish }}</i></p>
          </li>
          {% comment %} <form method="POST">
            {% csrf_token %}
            <input style="display: none;" type="text" name="comment_id" value="{{ comment.id }}">
            <button class="button" type="submit" name="button_dell_comment">Удалить комментарий</button>
          </form> {% endcomment %}
          <hr>
        {% endfor %}
      </ul>
    {% else %}
      <i>Пока комментариев нет</i>
    {% endif %}
  </div>
{% endblock  %}