{% extends 'base.html' %}
{% block content %}
  <div class="profile-user" >
    <h1>{{ profile.user.username }}</h1>
    <ul class=profile-user__item>
      <li>
        <h3>Фото профиля:</h3>
        {% if profile.avatar %}
          <img class="profile__img" src="{{ profile.avatar.url }}">
        {% else %}
          <i>Не заполнено</i>
        {% endif %}
      </li>
      <li>
        <h3>Дата рождения:</h3>
        {% if profile.birth_date %}
          <i>{{ profile.birth_date|date:"d F Y" }} </i>
        {% else %}
        <i>Не заполнено</i>
        {% endif %}
      </li>
      <li>
        <h3>Телефон:</h3>
        {% if profile.phone %}
          <i>{{ profile.phone }}</i>
        {% else %}
          <i>Не заполнено</i>
        {% endif %}
      </li>
      <li>
        <h3>Город:</h3>
        {% if profile.town %}
          <i>{{ profile.town }} </i>
        {% else %}
          <i>Не заполнено</i>
        {% endif %}
      </li>
      <li>
        <h3>Обо мне:</h3>
        {% if profile.about %}
          <i>{{ profile.about }} </i>
        {% else %}
          <i>Не заполнено</i>
        {% endif %}
      </li>
      <li>
        <h3>Посмотреть:</h3>
        {% if user.id == profile.user.id %}
          <a href="{% url 'advito:profile_posts' user.id %}">Мои обьявления;</a>
          <a href="{% url 'advito:favorite_post' user.id %}">Избранные обьявления;</a>
          <a href="{% url 'advito:profile_comment' user.id %}">Мои комментарии;</a>
          <a href="{% url 'advito:profile_message' user.id %}">Мои сообщения;</a>
          <a href="{% url 'advito:message_to_profile' user.id %}">Сообщения адресованные мне;</a>
        {% endif %}
      </li>
      <li>
        <h3>Редактировать:</h3>
        {% if user.id == profile.user.id %}
          <p><a href="{% url 'advito:profile_update' profile.user.id %}">Мой профиль</a></p>
        {% endif %}
      </li>
    </ul>
  </div>
{% endblock  %}