{% extends 'base.html' %}
{% block content %}
  <div class="signup-main">
    <div style="padding: 20px;">
      <h2>Регистрация</h2>
      {% if not registered %}
        <form class="signup__form" method="POST">
          {% csrf_token %}
          {% for field in form %}
            <p>{{ field }}</p>
            {% if field.errors %}
              <ul>{{ field.errors }}</ul>
            {% endif %}
          {% endfor%}
          <button class="button__submit" type="submit" style="margin-top: 20px; width: 120px;">Продолжить</button>
        </form>
      {% else %}
        <h2>Вы успешно зарегистрированы</h2>
        <a class="reg__link" href="{% url 'advito:login' %}" class="link">Войти</a>
      {% endif %}
    </div>
  </div> 
{% endblock %}